 {% extends 'core/base.html'%}
{% block title%}регистрация{% endblock title %}

{% block content %}
 <form method="POST" class="login_form">
   {% csrf_token%}
   <h2>Регистрация</h2>
   <p>Используйте следующую форму для регистрации:</p>
     {% for field in form %}
        {{field.label_tag}}
     {{field}}
     {% for error in field.errors%}
     <p class="error">{{error}}</p>
     {%endfor%}
     {%endfor%}

   <input type="submit" value="Зарегестрироваться" class="Button">
 </form>

{% endblock content %}
