{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static 'core/css/style.css' %}">
    <link rel="stylesheet" href="{%static 'accounts/css/style.css' %}">
    <title>{% block title%}{% endblock title %}</title>
</head>
<body>
<div class="header">
    <h1>PythonStyle</h1>
<img src="{% static 'core/img/logo.png'%}" class="logo">
<div class="buttons">
    <a href="{%url 'catalog'%}" class="button">
        <img src="{% static 'core/img/products.png'%}" class="icon">
    </a>

    <a href="{%url 'delivery'%}" class="button">
        <img src="{% static 'core/img/delivery.png'%}" class="icon">
    </a>

    <a href="{%url 'cart'%}" class="button">
        <img src="{% static 'core/img/cart.png'%}" class="icon">
    </a>
    {% if user.is_authenticated%}

    <a href="{%url 'profile' user.username %}" class="button">
        <img src="{% static 'core/img/profile.png'%}" class="icon">
    </a>

    <form action="{%url 'logout'%}" method="POST" class="icon logout_form">
        {% csrf_token %}
        <button type="submit" class="logout_button">
        <img src="{% static 'core/img/logout.png'%}" class="logout_icon">
            </button>
    </form>
    {% else %}
    <a href="{%url 'login'%}" class="button">
        <img src="{% static 'core/img/login.png'%}" class="icon">
    </a>
    {%endif%}
</div>
</div>
{% block content %}

{% endblock content %}
</body>
</html>