 {% extends 'core/base.html'%}
{% block title%}смена пароля {% endblock title %}

{% block content %}
 <form method="POST" class="password_change_form">
   {% csrf_token%}
   <h2>смена пароля</h2>
   <p>Используйте следующую форму для смены пароля:</p>
    <div>
    <label for="id_old_password">Текущий пароль:</label>
      {{ form.old_password }}

</div>
   <div>
    <label for="id_new_password1">Новый пароль:</label>
     {{form.new_password1}}
</div>

   <div id="id_new_password2_helptext">
     <p>Введите пароль ещё раз для подтверждения</p>
   </div>
      <div>
    <label for="id_new_password2">потдвердить пароль:</label>
     {{form.new_password2}}
</div>
   <input type="submit" value="сменить пароль" class="button">
 </form>

{% endblock content %}
