{% extends 'core/base.html'%}
{% block title%}Потверждение восстановления пароля {% endblock title %}

{% block content %}
{% if validlink%}

<form method="POST" class="password_change_form">
    {% csrf_token%}
    <h2>смена пароля</h2>
    <p>Проидумайте новый пароль и заполните форму:</p>
{% if forms.errors%}
    <div class="error">
        <h3>Ошибки:</h3>
        <ul>
    {% for field in form %}
        {% for error in field.errors %}
            {% if 'too short' in error %}
                <li>Пароль должен содержать не менее 8 символов.</li>
            {% elif 'common' in error %}
                <li>Пароль очень простой и распространенный.</li>
            {% elif 'numeric' in error %}
                <li>Пароль не должен состоять только из цифр.</li>
            {% elif 'match' in error %}
                <li>Пароль и подтверждение пароля не совпадают.</li>
            {% elif 'required' in error %}
                <li>Все поля формы являются обязательными.</li>
            {% else %}
                <li>{{ error }}</li>
            {% endif %}
        {% endfor %}
    {% endfor %}
</ul>
    </div>
    {%endif%}
    <div id="id_new_password1_helptext">
        <ul>
            <li>Ваш пароль не должен быть слишком похож на другие ваши персональные данные.</li>
            <li>Ваш пароль должен содержать не менее 8 символов.</li>
            <li>Ваш пароль не может быть распространенным паролем.</li>
            <li>Ваш пароль не может полностью состоять из цифр.</li>
        </ul>
    </div>
    <div>
        <label for="id_new_password1"> Новый пароль:</label>
        {{ form.new_password1}}

    </div>

    <div id="id_new_password2_helptext">
        <p>Введите пароль ещё раз для подтверждения</p>
    </div>
    <div>
        <label for="id_new_password2">потдвердить пароль:</label>
        {{form.new_password2}}
    </div>
    <input type="submit" value="сменить пароль" class="button">
</form>
{%else%}
    <div class="password_div">
        <h2>Ошибка</h2>
        <p>Ссылка по которой вы перешли недействительна.
        Запросите её повторно </p>
    </div>

{%endif%}
{% endblock content %}
